/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}


/* repetitive */
.button{
    padding: 0.4rem 0.7rem;
    border-radius: 10px;
    border: 2px solid lightgrey;
    font-weight: 500;
    font-size: 0.8rem;
}
.state{
    border-radius: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #F6F8F9;
    color: white;
    font-size: 0.7rem;
}
.blue{
    background-color: #47ADF1;
    color: white;
}
.orange{
    background-color: #F29E33;
}
.green{
    background-color:#B0C926 ;
}
.darkgreen{
    background-color: #64C0A9;
}
.pink{
    background-color: #D863A1;
}
.purple{
    background-color: #9C72E4;
}
.white-space{
    background-color: white;
    padding: 15px 25px;
}
.white{
    background-color: white;
}
.circle{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 50%;
    border: 1px solid;
}
.green-border{
    color: green;
}
.red-border{
    color: red;
}


/* page body */
header{
    margin-bottom: 30px;
}
.middle{
    vertical-align: middle;
}
#pagetitle{
    font-size: 2.3rem;
    font-weight: 900;
}
main{
    background-color: white;
    border-radius: 10px;
    width: 80%;
    padding: 10px;
    margin:0 auto;
}

.grey-text{
    color: #CCD2D6;
}
.grey-border{
    padding: 10px 50px;;
    border-bottom: 3px solid #F6F8F9;
}
h2{
    font-size: 1.5rem;
    font-weight: 900;
}
.big-ul{
    margin: 0 40px;
}
.list-text{
    font-size: 1.3rem;
    font-weight: 500;
}
ul{
    list-style: none;
    color: #444851;
}
li{
    margin: 0.7em;
}
